body {
    background-image: url("../img/Layer-20.jpg");
    background-repeat: repeat;
    font-family: "Lato", sans-serif;
    line-height: 1;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    text-transform: uppercase;
}

h2, h3 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 16px;
}

p {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.hero {
    background-image: url("../img/Layer-21.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.head-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 145px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 28px;
}

.hero__text h2 {
    text-transform: uppercase;
    font-size: 48px;
}

.hero__text p {
    font-size: 18px;
}

.hero__header {
    bottom: 55px;
    padding: 50px 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: 1px;
}

.text-orange {
    color: #f1ad1d;
}

.what-they-say {
    padding: 75px 0;
    text-align: center;
}
.section-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-head:after {
    content: '';
    display: block;
    margin: 55px auto;
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
}

.section-header {
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #333;
    font-size: 22px;

}

.section-subheader {
    font-size: 17px;
    color: #4d4943;
}

.navbar {
    padding: 75px 0;
}

.navbar .container {
    border-bottom: 3px solid #f1ad1d;
}

.navbar-logo {
    position: relative;
}

/*.navbar-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #f1ad1d;
    font-size: 28px;
    text-transform: uppercase;
    float: left;
    padding-top: 10px;
}*/
.nav-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.navbar-nav {
    padding-left: 0;
    display: flex;
    flex-basis: 70%;
    justify-content: space-around;
    margin: 0;
}

.navbar-nav li {
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
}

.has-submenu {
    position: relative;
}

.has-submenu:after {
    content: '';
    display: inline-block;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #3d3d3d;
    position: relative;
    left: 3px;
    bottom: -2px;
}
.submenu {
    display: block;
    position: absolute;
    z-index: 999;
    padding-left: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.6s linear;
}
.submenu li {
    padding: 10px 0;
}
.has-submenu:hover .submenu {
    height: 140px;
}

.has-submenu.active:after {
    border-top-color: #f1ad1d;
}

.navbar-nav a {
    font-family: 'Lato', sans-serif;
    color: #3d3d3d;
    text-decoration: none;
    /*margin-left: 60px;*/
}

.active a {
    color: #f1ad1d;
}

.what-they-say-2 {
    padding: 75px 0;
    text-align: center;
}

.what-they-say__gallery {
    float: left;
    width: 570px;
}

.what-they-say__text {
    float: right;
    width: 570px;
    text-align: justify;
}

.what-they-say__text h3 {
    margin-bottom: 26px;
    text-transform: uppercase;
    font-size: 18px;
}

.what-they-say__text p {
    margin-bottom: 35px;
    line-height: 1.4;
}

.what-they-say__gallery-item {
    margin: 0 30px 20px 0;
    float: left;
    position: relative;

}

.what-they-say__gallery-item:nth-of-type(2n) {
    margin-right: 0;
}

.what-they-say__gallery-item:nth-last-of-type(-n+2) {
    margin-bottom: 0;
}

.what-they-say__gallery-item-text {
    width: 117px;
    position: absolute;
    display: none;
    left: 15px;
    bottom: 10px;
    padding: 15px 0 15px 15px;
    background-color: #000;
    color: #fff;
    text-align: left;
}
.what-they-say__gallery-item:hover .what-they-say__gallery-item-text {
    display: block;
}
.btn {
    display: inline-block;
    padding: 20px 27px;
    background-color: #f1ad1d;
    text-decoration: none;
    color: #fff;
    font-family: 'Lato';
    font-weight: bold;
}
.slogan {
    position: relative;
    background-image: url("../img/bg-slogan.jpg");
    padding: 150px 0 95px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    /*color: white;*/
}
.slogan .section-header{
    color:white;
}
.our-team{
    padding: 100px 0;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.form{
    float: left;
    width: 572px;
}
.contacts {
    float: left;
    width: 200px;
}
.contact-form-header{
    display: inline-block;
    width: 66%;
    background-color: rgb(48, 48, 48);
}
.contact-form input{
    display: block;
    width: 272px;
    box-sizing: border-box;
}
input[type="text"]{
    margin-right: 27px;
    float: left;
}
.contact-form textarea{
    width: 100%;
    box-sizing: border-box;
    /*ПИСАТЬ почти ВСЕГДА*/
}
